body {
  font-size: 16px;
  color: #fff;
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
}

#header-nav {
  border-radius: 0;
  border: 0;
  width: 100%;
  border-bottom:1px solid black;
}

.navbar-brand h1 { 
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top:0px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

#section-chicken {
	background-color: black;
	margin: 0 20px 20px 0px;
}

#section-beef {
	background-color: black;
	margin: 0 20px 20px 0px;
}

#section-sushi {
	background-color: black;
	margin: 0 20px 20px 0px;
}




